body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    background-color: white;
}

.header {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

.logo {
    height: 70px;
    margin: 30px;
}

p {
    color: black;
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

h2{
    color: black;
}
h3{
    color: black;
}


.experience-card {
    width: 2000px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
}

.experience-container {
    display: flex;
    justify-content: space-around;
}

.footer-image{
    height: 30px;
    width: 30px;
    margin-right: 5px;
}
@media only screen and (max-width: 1000px) {
.experience-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.experience-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

#contact-me h2{
    color: white
}

@media only screen and (max-width: 1000px) {

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        background-color: #2b2c38;
    }
}